<a href="https://colab.research.google.com/github/Navaneethadapa/BasicML/blob/main/Experiment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multi-Variate Linear Regression**

In [1]:
#IMPORTING ALL THE REQUIRED LIBRARIES :

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
#READING THE DATA :

data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#Dividing the dataset into input and output sets:

#X = data.drop('Profit',axis=1).values
y = data['Profit'].values 
X = data.select_dtypes(include = np.number)

Dividing the dataset into training and testing datasets. We select the size of training and testing data by assigning a value to the test_size parameter(0.25 here) i.e., the size of training data = 75% and the size of testing data = 25%

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state=42)

In [6]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [7]:
#Performance metrics on training data:

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
y_pred1 = reg.predict(X_train)
print("MAE =",mean_absolute_error(y_train,y_pred1))
print("MSE =",mean_squared_error(y_train,y_pred1))
print("RMSE =",np.sqrt(mean_absolute_error(y_train,y_pred1)))
print("R2_SCORE =",r2_score(y_train,y_pred1))

MAE = 1.7108332768485353e-11
MSE = 4.993488151887682e-22
RMSE = 4.136222040520232e-06
R2_SCORE = 1.0

In [8]:
#Performance metrics on testing data:

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
y_pred2 = reg.predict(X_test)
print("MAE =",mean_absolute_error(y_test,y_pred2))
print("MSE =",mean_squared_error(y_test,y_pred2))
print("RMSE =",np.sqrt(mean_absolute_error(y_test,y_pred2)))
print("R2_SCORE =",r2_score(y_test,y_pred2))

MAE = 1.9029427606325883e-11
MSE = 6.108410677314666e-22
RMSE = 4.362273215460706e-06
R2_SCORE = 1.0

**Hence, it is clear that our model works well on both train data and test data**